body {
	font-family: Helvetica, Arial, sans-serif;
}
.navbar-elements-container {
	float:right;
	margin:20px;
}
.button {
	display:inline-block;
	margin: 0 5px;
	font-size:12px;
}
.footer {
	position:absolute;
	bottom:0;
	background-color:#f2f2f2;
	border-top:1px solid #e4e4e4;
	width:100%;
}
.search-container {
	text-align:center;
	width:543px;
	margin:20px auto;
}
.logo {
	text-align:center;
}
.main-container {
	clear:both;
}
.search-bar{
	display:block;
	width:100%;
}