body {
	font-family: Helvetica, Arial, sans-serif;
}
.navbar-elements-container {
	float:right;
	margin:20px;
}
.cta-button {
	background-color: #4285f4;
	font-weight:bold;
	color:#fff;
	padding: 0 12px;
}
.button {
	display:inline-block;
	margin: 0 5px;
	font-size:14px;
	vertical-align: middle;
	line-height:30px;
}
.button:hover {
	text-decoration: underline;
}
.footer {
	position:absolute;
	bottom:0;
	background-color:#f2f2f2;
	border-top:1px solid #e4e4e4;
	width:100%;
}
.search-container {
	text-align:center;
	width:543px;
	margin:20px auto;
}

.logo {
	text-align:center;
}
.main-container {
	clear:both;
}
.search-bar{
	display:block;
	width:100%;
}